{{> header }}
{{> navbar }}
<section class="form-container">
  <div class="w-70">
    <h4>LOGIN TO YOUR ACCOUNT</h4>
  <form class="form-field" action='/login' method='post' >
    <div class="form-controller my-3">
      <label for="email">Email</label>
      <input id="email" name='email' type="email" required />
    </div>
    <div class="form-controller">
      <label for="Password">Password</label>
      <input id="Password" name='password' type="password" required />
    </div>   
    <div class="button-container">
      <button type="submit"  >Submit</button> 
    </div>
  </form>
  </div>
</section>

{{> footer }}